{{/* TODO: Add OG content */}}
{{ define "content" }}
<div class="container reviews">
    <div class="col-sm-12">
        <h1 class="reviews-header">Our reviews</h1>
        <div class="row review-row">
            {{ $paginator := .Paginate (where .Data.Pages "Type" "reviews") }}
            {{ range $i, $v:= $paginator.Pages }}
            {{ $byline := where ( .Site.RegularPages.RelatedIndices . "reviews_byline" ) "Type" "writers" }}
            {{ $reviewsbooks := where ( .Site.RegularPages.RelatedIndices . "reviews_books" ) "Type" "books" }}
            <div class="col-sm-3 review-card">
                <div class="review-data">
                    <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
                    <a href="{{ .RelPermalink }}"><h2 class="review-title">{{ .Title }}</h2></a>
                    <div class="review-author">
                        <h4>
                        <strong>
                        {{ range $i, $v := $byline }}
                            {{ if and (gt (len $byline) 1) (gt $i 0) }}
                                 and 
                            {{ end }}
                            <a href="{{ $v.Permalink }}">{{ $v.Params.name }}</a>
                        {{ end }}</br>
                        </strong>
                        </h4>
                        <div class="writes-about">writes about</div>
                    </div>
                </div>
                <ul class="books reviews-page">
                    {{ range $i, $v := $reviewsbooks }}
                    {{ partial "book.html" . }}
                    {{ if and (gt (len $reviewsbooks) 3) (eq (sub (len $reviewsbooks) 1) $i) }}
                        <a href="#" class="more-books">and {{ sub (len $reviewsbooks) 3 }} more (show)</a>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
            {{ if eq $i 3}}
            <div class="col-sm-3 sponsor-card">
                {{/* include "templates/sponsorships/sponsorship.partial.html" */}}
            </div>
        </div>
        <div class="row review-row">
            {{ else if eq $i 7 }}
        </div>
        <div class="row review-row">
            {{ end }}
            {{ end }}
        </div>
    </div>
    <div>
        {{ template "_internal/pagination.html" . }}
    </div>
</div>
{{ end }}