{{ define "content" }}
<div class="container review">
    <div class="row">
        <div class="col-sm-9">
            <h1>{{ .Title }}</h1>
        </div>
        <div class="col-sm-3 sponsorship-top">
            {{/* TODO include "templates/sponsorships/sponsorship.partial.html"  */}}
        </div>
    </div>
    <div class="row review">
        <div class="col-sm-3 meta">
            {{ $byline := where ( .Site.RegularPages.RelatedIndices . "reviews_byline" ) "Type" "writers" }}
            {{ $reviewsbooks := where ( .Site.RegularPages.RelatedIndices . "reviews_books" ) "Type" "books" }}
            <h4 class="writers"> <strong>
                {{ range $i, $v := $byline }}
                    {{ if and (gt (len $byline) 1) (gt $i 0) }}
                        and 
                    {{ end }}
                    <a href="{{ $v.Permalink }}">{{ $v.Params.name }}</a>
                {{ end }}</br></strong>
            </h4>
            <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
            <div class="share-links share-column">
                {{ partial "share-links" . }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="review-title">
            </div>
            <div class="review-text">
                {{ .Content }}
            </div>
            <div class="end"></div>
            <div class="share-links bottom-share">
                <p>Share this review: </p>
                {{ partial "share-links" }}
            </div>
        </div>
        <div class="col-sm-3 review-sidebar">
            <strong>Books in this review: </strong>
            <div class="review-card">
                <div class="review-data">
                    <ul>
                    {{ range $i, $v := $reviewsbooks }}
                    {{ partial "book.html" . }}
                    {{ if and (gt (len $reviewsbooks) 1) (eq (sub (len $reviewsbooks) 1) $i) }}
                    </ul></div></div><div class="review-card"><div class="review-data"><ul>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <div class="col-sm-3 meta">
            <h4> <strong>About the writer{{ if gt $byline 1}}s{{ end }}
            </strong>
            </h4>
        </div>
        
        <div class="col-sm-6 bio">
        {{ range $i, $v := $byline }}
            {{ $v.Params.bio | markdownify }}

            {{ $v.Params.twitter }}
            <p class="noindent">
            Follow {{ $v.Params.twitter }} on Twitter: <a href="http://twitter.com/{{ $v.Params.twitter }}">@{{ $v.Params.twitter }}</a>
            </p>
            {{ if and (gt (len $reviewsbooks) 1) (ge (len $reviewsbooks) $i) }}
            <div class="break"></div>
            {{ end }}
            {{ end }}            
        </div>
      
    </div>
     <!-- RECENT REVIEWS ROW-->
    <div class="row">
        <div class="col-sm-6">
            <h1>Other recent reviews</h1>
        </div>
    </div>
    <div class="row review-row" data-search-index="false">
        {{ range first 4 ( where .Site.Pages "Type" "reviews") }}
        {{ $byline := where ( .Site.RegularPages.RelatedIndices . "reviews_byline" ) "Type" "writers" }}
        {{ $reviewsbooks := where ( .Site.RegularPages.RelatedIndices . "reviews_books" ) "Type" "books" }}
        <div class="col-sm-3 review-card">
            <div class="review-data">
                <div class="date">{{ .Date.Format "January 2, 2006" }}</div>
                <a href="{{ .Permalink }}"><h2 class="review-title">{{ .Title }}</h2></a>
                <div class="review-author">
                    <h4>
                    <strong>
                    {{ range $i, $v := $byline }}
                        {{ if and (gt (len $byline) 1) (gt $i 0) }}
                            and 
                    {{ end }}
                    <a href="{{ $v.Permalink }}">{{ $v.Params.name }}</a>
                {{ end }}</br></strong>
                    </h4>
                    <div class="writes-about">writes about</div>
                </div>
            </div>
            <ul class="books reviews-page">
                    {{ range $i, $v := $reviewsbooks }}
                    {{ partial "book.html" . }}
                    {{ if and (gt (len $reviewsbooks) 1) (eq (sub (len $reviewsbooks) 1) $i) }}
                        <a href="#" class="more-books">and {{ sub (len $reviewsbooks) 3 }} more (show)</a>
                    {{ end }}
                    {{ end }}
            </ul>
        </div>
        {{ end }}
        {{/* if loop.index == loopamount  */}}
        <div class="col-sm-3 sponsor-card">
            {{/* include "templates/sponsorships/sponsorship.partial.html"  */}}
        </div>
    </div>
   </div>
</div>
</div>
{{ end }}