/* Extra small devices (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */

.nav-expand {
    position: absolute;
    right: 15px;
    top: 15px;
    text-decoration: none;
}

.nav-expand:hover {
    text-decoration: none;
}

.navbar-nav {
    display: none;
}

.navbar-nav li {
    float: left;
}

a.logo {
    left: 40px;
}

@media (max-width: 768px) {
    nav {
        margin-left: 50px;
    }

    .sponsor { 
      position:static !important; 
      margin-bottom:1em;
    }
    .mobile-sponsor {
        display: block;
        margin-bottom:1em;
        margin-top:1em;
    }
    footer .row ul li {
        padding-left: 15px;
        margin-left: 15px;
    }
    .navbar-nav { clear:both; }
    .review .meta { text-align:left; margin-bottom:1em;}
    .scrolling-form.affix { 
        position:static; 
    }
}



/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .nav-expand {
        display: none;
    }
    .navbar-li {
        float: none;
    }
    .navbar-nav {
        display: inline-block;
    }
    /*body { border:10px solid red; }*/
    a.logo {
        left: 50%;
    }
    nav {
        margin-left: 0;
    }
    .review-card {
        width: 160px;
    }
    .mobile-sponsor { display:none; }
    .navbar-nav { clear:none; }
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .navbar-nav {
        display: block;
    }
    .review-card {
        width: 215px;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .navbar-nav {
        display: block;
    }
    .review-card {
        width: 265px;
    }
    /*body { border:10px solid pink; }*/
}

body {
    font-family: "SeravekRegular", sans-serif;
    text-rendering: optimizeLegibility;
    color: #45474B;
}

strong {
    font-family: "SeravekBold", sans-serif; 
}

.light {
    font-family: "SeravekLight", sans-serif;
}

em {
    font-family: "SeravekRegularItalic", sans-serif;
}

strong em, em strong {
    font-family: "SeravekBoldItalic", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Anchor", sans-serif; 
    color: #497FC5;
    margin: 0;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 38px;
}

.meta {
    text-align: right;
}

h3 {
    font-size: 38px;
}

.book-meta {
    margin-top: 5px;
    color: #E5E5E3;
}

h4 {
    margin-top: 5px;
    color: #70AF49;
    font-size: 16px;
}

h4 a {
    color: #70AF49;
    font-size: 16px;
}

h5 {
    font-size: 26px;
    font-family: "Anchor";
}

nav {
    font-family: "Anchor";
}

nav span a.navbar-brand, nav span a.navbar-brand-mobile {
    font-size: 28px;
    padding-left: 0;
}

header {
    background: url('/static/images/header-backdrop.svg');
    z-index: 8000;
    border-bottom: 5px solid #fff;
}


/*MAKING CONTAINER MADNESS CONSISTANT */

header div.container {
    padding: 0;
    margin-top: 25px;
}

header.affix {
    top: -25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

header.affix + .container {
    margin-top: 100px;
}

header.affix + .container.review {
    margin-top: 190px;
}

header li {
    font-size: 14px;
}

p {
    padding: 0;
    margin: 0;
}

p + p {
    text-indent: 1em;
}


a.logo {
    margin: 0 auto;
    position: fixed;
    top: 0px;
    display: block;
    z-index: 9000;
    width: 49px;
    height: 100px;
    background-size: 100%;
    background: url('/static/images/logo-bw.svg') top center no-repeat;
    transition: .1s linear;
    margin-left: -25px;
}

p.noindent {
    text-indent: 0 !important;
    margin-top: 1em !important;
}

header.affix a.logo {
    display: block;
    top: -25px;
    -webkit-transform: scale(.5);
    /*    width:26px;
  height:50px;*/
}

.meta {
    color: #ccc;
}

.date {
    font-size: 16px;
    color: #E5E5E3;
    font-family: "SeravekBold";
}

.container {
    margin-top: 3em;
    font-size: 18px;
    line-height: 1.4em;
}

.container h1 {
    margin-bottom: 2em;
}

.note p + p {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.note-note div.title, .note-note .note, .note-note .note p {
    display: inline;
}

.note-note .note p + p {
    display: block;
}

.container.note .note-note .title {
    color: #497FC5;
    font-size: 20px;
}

.note-column time, .note-interview time, .note-note time, .note-poem time, .note-fiction time, .note-politics time {
    font-family: "SeravekLight";
    font-size: 16px;
    color: #999;
}

.note-column, .note-interview, .note-note, .note-fiction {
    padding-left: 0;
}

.note-column .column, .note-interview .interview, .note-note .note, .note-poem .poem, .note-fiction .fiction, .note-politics .politics{
    margin-top: 2em;
}

.note-interview .interview ul {
    margin: 0 0 0 1em;
    padding: 0;
}

.note-interview .interview li {
    list-style-type: none;
    margin: 1em 0;
}

.note-poem pre {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
}

.note-poem pre p, .inside-poem {
    font-family: "SeravekLight", sans-serif !important;
    font-size: 20px;
    white-space:nowrap;
}
/*.note-poem pre p:first-line {
    color:inherit;
}
*/
.note-poem pre .poem-wrap {
    white-space:normal;
    word-break:normal;
}

.container.note .poem p + p, .container.review .poem p + p {
    text-indent: 0 !important;
}

.container.review .poem { margin-top:0; }

.note-poem .prose-poem {
    white-space:normal; 
    word-break:normal; 
}

.poem .poem-footer {
    font-size: 14px;
    color: #999;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #f1f1f1;
    white-space:normal;
    word-break:normal;
}

.poem .poem-footer p {
    font-size: 14px;
    color: #999;
    white-space:normal;
    word-break:normal;
}

.poem .poem-footer p + p {
    margin-top:1em;
}

.poem .poem-footer + .poem-footer {
    border-top:0;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}

.poem .poem-footer li { 
font-family:"SeravekLight";
 }

.note-column .footer, .review-text .footer, .note-interview .footer, .note-fiction .footer { 
    font-size:14px; 
    color:#999; 
    margin-top:1em !important; 
    padding-top:1em; 
    border-top:1px solid #f1f1f1;
    text-indent:0 !important;
}
.note-fiction h3 { 
    text-align:center; 
    font-size:48px;
}

.note-politics h3 a {
    color: #b73333;
}

.note-fiction time {
    display:block;
    text-align:center;
    font-size:20px;
    line-height:1em;
  
}

.note-fiction time span{
    font-size:14px;

}

.note-fiction:first-child {
    font-family:"SeravekLight";
    font-size:20px;
    line-height:1.35em;
}


.review p, .review ul, .review ol {
    font-size: 18px;
    line-height: 1.6em;
    margin: 0;
}

.review h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

p.image, p.image-left {
    margin: 15px 15px 15px 0 !important;
    text-indent: 0 !important;
}

p.image img, p.image-hero img {
    width: 100%;
}

p.image-hero {
    margin-bottom: 15px !important;
}

p.image-left {
    float: left;
}

.container p span.lead-in {
    font-family: "SeravekLight";
    font-variant: small-caps;
    letter-spacing: 0.3em;
}

.container .review {
    margin-top: 5em;
}

.container .review p + p {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.review p.break + p, .container .review p.pull-quote, .container .review p.pull-quote + p, blockquote + p, .container p.image + p, .container .review .image-hero + p, p.pull-quote + p {
    text-indent: 0;
}

/*.container .review p.break + p:first-line, .container .review div.break + p:first-line, div.review-text:first-line, p.image-hero + p:first-line, p.first-line:first-line {
    font-family: "SeravekLight";
    font-size: 26px;
    color: #70AF49;
}*/


.container .review p.pull-quote, p.pull-quote, .container .note-column p.pull-quote {
    margin: 1em 0;
    padding: 1em 0;
    border-top: 1px solid #7AB6FC;
    border-bottom: 1px solid #7AB6FC;
    font-family: "SeravekLight";
    font-size: 28px;
    line-height: 1.25em;
    text-indent: 0;
    color: #7AB6FC;
}

blockquote {
    margin: 20px 0 20px -1em;
    padding: 0 0 0 2em;
    line-height: 1.5em;
    font-family: "SeravekLightItalic";
    border-left: 1px solid gray;
}

blockquote.noline {
    border:0; 
    padding:0 0 0 1em; 
    font-size:18px;
}

/*blockquote.noline:first-line {
    color:inherit;
}
*/
div.sponsorship {
    color: #EEA5EC;
    font-family: "SeravekLight";
    font-size: 16px;
    border: 1px solid #EEA5EC;
    border-radius: .5em;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

div.sponsorship.event {
    color:#00a2ff;
    border:1px solid #00a2ff;
    margin-bottom:1em;
}
div.sponsorship.event .event a {
    color:#00a2ff;
}

div.sponsorship.event h2, div.sponsorship.event .sponsor-headline {
       color:#00a2ff;
}

p.sponsor-link a { color:#999; text-transform: uppercase; font-size:12px; letter-spacing:0.1em; margin-left:1.3em;}



.about .content h2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

div.sponsorship h2 {
    color: #EEA5EC;
}

.sponsor-headline {
    font-family: "SeravekBold";
    color: #EEA5EC;
    letter-spacing: 0.1em;
}

a.sponsorship-link {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    display: block;
    color: #EEA5EC;
}

div.sponsor-card {
    padding: 0;
    margin: 0 0 15px 15px;
}

.container.note a.sponsorship p + p {
    text-indent: 0;
}

a.sponsorship:hover {
    text-decoration: none !important;
    color: #BD10E0;
}

.smallcaps {
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

.break {
    height: 85px;
    background: url('/static/images/glyph.svg') center center no-repeat;
}

body.sponsorship div.break {
    text-align:center; 
    background: none; 

    height:35px;
    
}

.bio {
    font-family: "SeravekLightItalic";
}

.bio p {
    font-size: 16px;
}

.bio em {
    font-family: "SeravekLight";
    font-style: normal;
}

.end, .note-end {
    height: 85px;
    margin-bottom: 5em;
    background: url('/static/images/break-mark.svg') center center no-repeat;
}

.note-end {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

footer {
    background-image: url('/static/images/header-backdrop.svg');
    background-size: 100%;
    padding: 25px 0;
    margin-top: 3em;
}

footer ul {
  list-style-type:none;
}

footer .container {
    margin: 0 auto;
    padding: 0;
}

abbr, abbr[title] {
    cursor: text;
    text-decoration: none;
    border: 0;
}

a abbr, a abbr[title] {
    cursor: pointer;
}

sup {
    padding-top: 75px;
    margin-top: -75px;
}

sup a {
    padding: 0.25em;
}

ol.endnotes {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #f1f1f1;
}

ol.endnotes li {
    font-size: 14px;
    padding-top: 75px;
    margin-top: -75px;
    margin-bottom: 1em;
}

ol.endnotes li p {
    font-size: 14px;
    font-family: "SeravekLight";
}

ol.endnotes li em {
    font-family: "SeravekLightItalic";
}


.review-card {
    display: block;
    border: 1px solid #ccc;
    border-radius: .5em;
    padding: 0;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.review-card .book {
    text-align: center;
    color: #aabba0;
    border-radius: .5em;
    list-style-type: none;
    padding: 0;
}

.review-card .book-title {
    font-family: "Anchor";
    font-size: 20px
}

.review-data {
    margin: 0 auto;
    text-align: left;
    width: 90%;
}

.review-card ul.books {
    margin: 0;
    padding: 0;
}

.review-card li {
    list-style-type: none;
}

.review-card .review .book-title {
    font-size: 28px;
}

.review-card .book .book-title, .review-card .book .book-data {
    text-align: left;
}


/*REVIEW CARDS IN ROWS all throughout the site*/

.review-row .review-card .book-image img {
    height: auto;
    float: left;
    padding-right: 10px;
    width: 50px;
    float: left;
    padding-right: 10px;
}

.review-row .review-card, body.author .review-sidebar .review-card {
    margin: 0 0 15px 15px;
}

.review-row .review-card .book-data {
    height: 75px;
    width: 90%;
    margin: 0 auto;
}

.review-row .book-image {

}

.review-row .book-author {
    font-size: 14px;
    line-height: 1.25em;
}

.review-row .book-publication, .review-row .book-srob, .review-row .book-srob + p {
    display: none;
}


/*REVIEW CARDS ON REVIEW PAGES*/

.review-sidebar .review-card .indie-bound, .review-sidebar .review-card .ebook-purchase, .review-sidebar .review-card .online-purchase {
    display: block;
}

.review-sidebar .review-card {
    margin: 0 0 15px 0;
}

.review-sidebar .review-card ul {
    padding: 0;
    margin: 0;
}

.review-sidebar .book div.book-publication {
    font-family: "SeravekLight";
    margin-bottom: 1em;
    text-align: left;
}

.review-sidebar .book div.book-srob {
    font-family: "SeravekLight";
    text-align: left;
    margin-bottom: 1em;
}

.review-sidebar .review-card .book-image img {
    width: 60%;
    margin-bottom: 15px;
}

.review-sidebar .book .book-image {
    text-align: center;
}

.review-card:hover {
    background: #efefef;
}

.review-card a.review-link {
    display: block;
    background-color: red;
}

.review-card .book {
    margin-bottom: 0.25em;
    background: 0;
    padding-left: 0;
}

.review-card .book + li + li + li {
    display: none;
}

.review-card .book img {
    border: 0;
    padding: 0;
    margin: 0;
}

.review-card .writes-about {
    font-family: "SeravekLight";
    font-size: 16px;
    margin: 0.5em 0;
    color: #ccc;
}

.review-card .more-books {
    text-align: center;
    display: block;
    margin: 0;
    padding: 0;
}

.review-card .indie-bound, .review-card .ebook-purchase, .review-card .online-purchase {
    display: none;
    margin: 1em;
    padding: 0.5em 1em;
    border: 1px solid gray;
    border-radius: 0.25em;
    color: gray;
}

.review-card .indie-bound:hover, .review-card .ebook-purchase:hover, .review-card .online-purchase:hover {
    background: orange;
    color: #fff;
    text-decoration: none;
}



body.sponsorship {
    background: #f1f7fd;
}

body.sponsorship .thanks {
    font-family: "SeravekLight";
    font-style: italic;
}

body.sponsorship h1, body.sponsorship h2 {
    color: #EEA5EC;
}

body.sponsorship h2.lead-in {
    margin: 1em 0;
}


body.sponsorship header, body.sponsorship footer {
    background: rgba(233, 243, 255, 0.7);
    border: 0;
    background-opacity: 50%;
}

body.sponsorship .call-to-action .sponsorship {
    background: #fff;
}

body.sponsorship .call-to-action .sponsorship div {
    width: 90%;
    text-align: left;
    margin: 0 auto;
}

div.sponsorship .book-image {
    text-align:center;
    margin-top:1em;
}
div.sponsorship .book-image img {
    max-width:90%;
}

.content-by {
    margin-top: 2em;
}

.author .row {
    margin-bottom: 2em;
}

.author .review-card ul {
    padding: 0;
}

.contact-form label {
    font-style: normal;
    margin-top: 10px;
    font-size: 16px;
    color: #aabba0;
}

.contact-form input[type="text"] , .contact-form textarea {
    width: 90%;
    border: 1px solid #ccc;
}

.contact-form .showmore {
    display:inline-block;
    font-size:14px;
    color:#ccc;
}

.contact-form select {
    width: 90%;
}

#form-messages.success {
    color: #70AF49;
    padding: 20px;
}


#form-messages.error {
    color: red;
    padding: 20px;
}
div.book #form-messages.success, div.book #form-messages.error {
    font-size:24px; 
    font-family:"SeravekLight", sans-serif;
}

.scrolling-form {
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    padding-left: 60px;
}

.scrolling-form.affix {
    top: 135px;
}

.scrolling-form.affix-bottom {
    position: absolute !important;
}

.sort-letters {
    list-style-type: none;
    font-family: "SeravekLight";
    font-size: 28px;
    color: #ccc;
}

.author-name {
    list-style-type: none;    
}

.northwest {
    font-family: "Anchor";
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #206f20;
}


.pagination > li {
    color: #ccc;
}

.pagination > li a {
    border: 1px solid #f1f1f1;
}

.four-oh-four {
    text-align: center;
}

.four-oh-four h1 {
    margin-bottom: 0;
}

.four-oh-four .message {
    width: 600px;
    margin: 0 auto;
}

.four-oh-four p.image img {
    width: 100%;
}

.intro {
    font-size: 15px;
    line-height: 1.5em;
    color: #888;
}
p + p.intro {
    text-indent:0;
}

p.intro + p { text-indent:0; margin-top:1em; }

li a.pagination-elipsis {
    border: 0;
}

li a.pagination-elipsis:hover {
    background: #fff;
    cursor: default;
}

.share-column ul {}

.share-links p {
    color: #888;
    float: left;
    line-height: 6em;
    font-size: 14px;
    margin-right: 1em;
}

.review .share-links p {
    line-height: 3em;
}

.share-links.small .pagination .facebook a, .share-links.small .pagination .twitter a {
    padding: 6px 6px;
    margin-top: 0;
}

.share-links .pagination .facebook a, .share-links-small .pagination .facebook a {
    padding-top: 4px;
    padding-bottom: 8px;
}

.share-links.bottom-share {
    margin-bottom: 5em;
}

.copyright {
    text-align: center;
    line-height: 1em;
    color: #888;
}

.inline-review {
    margin-bottom: 5em;
}

.inline-review h1 {
    margin-bottom: 0;
}

.inline-review .note-end {
    margin-left: 100px;
}

.inline-review .review-meta {
    color: #888;
}

.dek {
    margin-top: 1em;
    font-family: "SeravekLight";
    font-size: 24px;
    line-height: 1.5em;
}

p.video {
    max-width: 100%;
    overflow: hidden;
}

.social-links {
  text-align: center;
  font-family: "SeravekLight";
  font-size:24px; 
  line-height:1.5em;
  padding-bottom:2em;

}
.social-links-about {
  text-align:left;
}

.sponsor { 
  position:fixed; 
}

.search-form input{
    font-size:24px;
    line-height:1.5em;
    font-family:"SeravekLight", sans-serif;
    width:100%;
}


.writer-name {
    font-size: 16px;
    color:#999;
}

body.find h1 { margin-bottom:1em;}

body.find .search-form { padding-bottom:1em; border-color:#f1f1f1; color:#666; }

body.find .second-header { margin:2em 0;}

ul.stuff-lists { list-style-type: none; margin-left:0; padding-left:0;}

ul.stuff-lists li { font-family: "SeravekLight", sans-serif; margin-bottom:0.5em; }

.current-schedule td { padding:5px 20px; }
.current-schedule th { font-variant:small-caps; color:#ccc;}

.current-schedule tr.booked { color:rgba(238,165,236,0.5); display:none; }
.current-schedule tr.reserved {color: #ff8522; display:none; }
.current-schedule tr.available { font-weight:bold;}
.current-schedule tr.selected { background-color:#fcffb2;}
.current-schedule tr.disabled, li.disabled, li.disabled a { color:rgba(0,128,0,0.2);}



.current-schedule {
    border: 1px solid #ccc;
    border-radius: 1em;
    padding: 1em;
    background-color: #fff;
}

.fixed-bottom{
    position:absolute !important;
    bottom: auto !important;
}

body.sponsor-book .payment-info, body.sponsor-book .payment-method { display:none; }
body.sponsor-book h2.disabled { color: rgba(73,127,197,0.2); }
body.sponsor-book .terms { padding:1em 0;}
body.sponsor-book button[disabled] { opacity:0.2;}

div.how-to-sponsor { 
    text-align:center;
}
div.how-to-sponsor p, div.how-to-sponsor h1, div.how-to-sponsor h2 {
    text-align:left;
}
.book-button { 
    text-align:center; 
    width:100%;
    padding:1em;
    border:1px solid #f1f1f1;
    border-radius: 0.5em;
    margin:1em auto;
    clear:both;
    font-family: "SeravekLight", sans-serif;
    font-size:22px;
    display:block;
}
.book-button:hover {
    text-decoration:none;
    background:#f1f1f1;
    color:red;
}

body.review-page .sponsorship-top img { display:none; }

ul.writers-output { font-size:16px; font-family: "SeravekLight", sans-serif; line-height:1em; list-style-type:none; padding-left:0.5em; margin-bottom:0.5em;}
ul.writers-output li { margin-left:0; padding-left:0; color:#ccc; }

ul.article-list, ol.article-list { padding:1em 0 1em 1em; }

ul.article-list li, ol.article-list li { font-family: "SeravekLight"; padding:0.5em 0; font-size:18px; }


@media print {
    .nav, .sponsorship, a:after { display:none; }
    blockquote { border:0; }
    /*.container .review p.break + p:first-line, .container .review div.break + p:first-line, div.review-text:first-line, p.image-hero + p:first-line { color:#000; }*/
    .break { text-align:center; padding:2em;  }
    .break:after { content: url('/static/images/glyph.svg'); }
    .break + p { padding-top:2em; }
    

}