@font-face {
    font-family: 'Anchor';
    src: url('../fonts/AnchorWebMedium.eot');
    src: url('../fonts/AnchorWebMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AnchorWebMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeravekRegular';
    src: url('../fonts/SeravekWebBasicRegular.eot');
    src: url('../fonts/SeravekWebBasicRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SeravekWebBasicRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeravekRegularItalic';
    src: url('../fonts/SeravekWebBasicRegularItalic.eot');
    src: url('../fonts/SeravekWebBasicRegularItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SeravekWebBasicRegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SeravekLight';
    src: url('../fonts/SeravekWebBasicLight.eot');
    src: url('../fonts/SeravekWebBasicLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SeravekWebBasicLight.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'SeravekLightItalic';
    src: url('../fonts/SeravekWebBasicLightItalic.eot');
    src: url('../fonts/SeravekWebBasicLightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SeravekWebBasicLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeravekBold';
    src: url('../fonts/SeravekWebBasicBold.eot');
    src: url('../fonts/SeravekWebBasicBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SeravekWebBasicBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SeravekBoldItalic';
    src: url('../fonts/SeravekWebBasicBoldItalic.eot');
    src: url('../fonts/SeravekWebBasicBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SeravekWebBasicBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}



