{{ define "content" }}
<div class="container ">
    <div class="row">
        <div class="col-sm-12 four-oh-four">            
            <h1>404 - page not found<br>"Should we have stayed at home and thought of here?"</h1>
            <div class="message">
            <p class="image"><img src="http://helpers.seattlereviewofbooks.com/images/reading-animals/" alt=""></p>
            <p class="small"><em>Image by <a href="http://www.christinelarsen.com" title="Portfolio - Christine Marie Larsen Illustrator">Christine Marie Larsen</a>, from her Reading Animals series. Used with permission.</em></p>
            <p><a href="/">Go to homepage</a></p>
            </div>
        </div>
    </div>
</div>
{{ end }}