{{ $byline := where ( .Site.RegularPages.RelatedIndices . "notes_byline" ) "Type" "writers" }}
{{/* Makes a nice list of site writer bylines */}}
{{ range $i, $v := $byline }}
    {{ $linkbuilder := (print "<a href='" .RelPermalink "'>" $v.Params.name "</a>") }}    
    {{ with $v.Params.name }}{{ $.Scratch.SetInMap "names" $linkbuilder $linkbuilder }}{{ end }}
{{ end }}               
    {{ if eq .Params.subtype "Note"}}        
        {{ partial "notes-notes.html" . }}
    {{ else if eq .Params.subtype "Column" }}
        {{ partial "notes-columns.html" . }}
    {{ else if eq .Params.subtype "Poem" }}        
        {{ partial "notes-poems.html" . }}
    {{ else if eq .Params.subtype "Interview" }}        
        {{ partial "notes-interviews.html" . }} 
    {{ else if eq .Params.subtype "Fiction" }}        
        {{ partial "notes-fiction.html" . }}            
    {{ else if eq .Params.subtype "Politics" }}
        {{ partial "notes-politics.html" . }}    
                
    {{ end }}
    <div class="note-end"></div>

{{ $.Scratch.Delete "names" }}