{{ $byline := where ( .Site.RegularPages.RelatedIndices . "notes_byline" ) "Type" "writers" }}
{{/* Makes a nice list of site writer bylines */}}
{{ range $i, $v := $byline }}
    {{ $linkbuilder := (print "<a href='" .RelPermalink "'>" $v.Params.name "</a>") }}    
    {{ with $v.Params.name }}{{ $.Scratch.SetInMap "names" $linkbuilder $linkbuilder }}{{ end }}
{{ end }}                    
    
    {{ if eq .Params.type "Note"}}        
        {{ template "theme/partials/notes-notes.html" . }}
    {{ else if eq .Params.type "Column" }}
        {{ template "theme/partials/notes-columns.html" . }}
    {{ else if eq .Params.type "Poem" }}        
        {{ template "theme/partials/notes-poems.html" . }}
    {{ else if eq .Params.type "Interview" }}        
     
    {{ else if eq .Params.type "Fiction" }}        
            
    {{ else if eq .Params.type "Politics" }}        
                
    {{ end }}

{{ $.Scratch.Delete "names" }}