{{ $byline := where ( .Site.RegularPages.RelatedIndices . "notes_byline" ) "Type" "writers" }}
{{/* Makes a nice list of site writer bylines */}}
{{ range $i, $v := $byline }}
    {{ $linkbuilder := (print "<a href='" .RelPermalink "'>" $v.Params.name "</a>") }}    
    {{ with $v.Params.name }}{{ $.Scratch.SetInMap "names" $linkbuilder $linkbuilder }}{{ end }}
{{ end }}                    
    
<div class="note-poem">
    <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <time>by {{ with ($.Scratch.Get "names") }}{{ delimit . "," " and " }}{{ end }}</time>
        <div class="poem"><pre>{{ .Content }}</pre></div>
        <time>Published <abbr class="timeago" title="{{ .Params.publish_date }}"></abbr> </time>
</div>

{{ $.Scratch.Delete "names" }}
