<meta property="fb:app_id" content="481146972233231"/>
<meta property="og:url" content="http://www.seattlereviewofbooks.com">
<meta property="og:type" content="article">
<meta property="og:title" content="The Seattle Review of Books">
<meta property="og:description" content="Reviews, notes, interviews, articles, and poetry from The Seattle Review of Books.">
<meta property="og:image:url" content="http://helpers.seattlereviewofbooks.com/images/srob-logo.png">
<meta property="og:type" content="website">
<meta property="article:published_time" content="{{/* TODO: add published timestamp */}}">
<meta property="article:section" content="books">
<link rel="amphtml" href="http://mercury.postlight.com/amp?url=http://www.seattlereviewofbooks.com">