{{ $byline := where ( .Site.RegularPages.RelatedIndices . "reviews_byline" ) "Type" "writers" }}
{{ $reviewtags := where ( .Site.RegularPages.RelatedIndices . "reviews_tags" ) "Type" "tags" }}
{{ $notestags := where ( .Site.RegularPages.RelatedIndices . "notes_tags" ) "Type" "tags" }}
{{ $books := where ( .Site.RegularPages.RelatedIndices . "reviews_books" ) "Type" "books" }}



Reviews byline: {{ range $byline }}{{ .Params.byline }}{{ end }}<br>
Reviews tags: {{ range $reviewtags }}{{ .Params.name }}{{ end }}<br>
Reviews books: {{ range $books }}{{ .Params.name }}{{ end }}<br>
Notes tags: {{ range $notestags }}{{ .Params.name }}{{ end }}<br>


{{ .Content }}

