{{ define "content" }}
<div class="container writers">
    <div class="row">
        <div class="col-sm-4">
            <h1>People who write here</h1>
            <ul>
                {{ $.Scratch.Set "loopletter" "" }}
                {{ range sort .Pages ".Params.alphabetize_by" }}
                    {{ if .Params.alphabetize_by }}                    
                        {{ if or (.Params.reviews_byline) (.Params.notes_byline )}}
                            {{ if ne ( $.Scratch.Get "loopletter") (substr .Params.alphabetize_by 0 1) }}
                                {{ if ne (substr .Params.alphabetize_by 0 1 | lower ) "a" }}
                                    </ul>
                                {{ end }}
                                <li class="sort-letters">{{ substr .Params.alphabetize_by 0 1 | upper }}</li>
                                <ul>
                            {{ end }}
                            <li class="author-name"><a href="{{ .RelPermalink }}">{{ .Params.name }}</a>{{ if .Params.is_seattle_pnw_writer }} <span class="northwest">NORTHWEST&nbsp;WRITER</span>{{ end }}<br>
                            <ul class="writers-output">
                            {{ $reviews := where ( .Site.RegularPages.RelatedIndices . "reviews_byline" ) "Type" "reviews" }}
                            {{ $notes :=  where (.Site.RegularPages.RelatedIndices . "notes_byline" ) "Type" "notes" }}
                            {{ $note := (where $notes ".Params.subtype" "Note") }}
                            {{ $interview := (where $notes ".Params.subtype" "Interview") }}
                            {{ $poem := (where $notes ".Params.subtype" "Poem") }}
                            {{ $column := (where $notes ".Params.subtype" "Column") }}
                        
                            {{ if $reviews }}<li>{{ len $reviews }} review{{ if gt $reviews 1 }}s{{ end }}</li>{{ end }}
                            {{ if $poem }}<li>{{ len $poem }} poem{{ if gt (len $poem) 1 }}s{{ end }}</li>{{ end }}
                            {{ if $interview }}<li>{{ len $interview }} interview{{ if gt (len $interview) 1 }}s{{ end }}</li>{{ end }}
                            {{ if $note }}<li>{{ len $note }} note{{ if gt (len $note) 1 }}s{{ end }}</li>{{ end }}
                            {{ if $column }}<li>{{ len $column }} column{{ if gt (len $column) 1 }}s{{ end }}</li>{{ end }}
                        {{ end }}
                        </ul>
                    </li>
                    {{  $.Scratch.Set  "loopletter" (substr .Params.alphabetize_by 0 1) }}                    
                    {{ end }}
                {{ end }}
                {{ $.Scratch.Delete "loopletter" }}
            </ul>
        </div>
        <div class="col-sm-4">
            <h1>People we write about</h1>
            <ul>
                {{ $.Scratch.Set "loopletter" "" }}
                {{ range sort .Pages ".Params.alphabetize_by" }}
                    {{ if .Params.alphabetize_by }}
                        {{ if or (.Params.reviews_about) (.Params.notes_about) }}
                            {{ if ne ($.Scratch.Get "loopletter") (substr .Params.alphabetize_by 0 1) }}
                                {{ if ne (substr .Params.alphabetize_by 0 1 | lower ) "a" }}
                                    </ul>
                                {{ end }}
                                <li class="sort-letters">{{ substr .Params.alphabetize_by 0 1 | upper}}</li>
                                <ul>
                            {{ end }}                
                            <li class="author-name"><a href="{{ .RelPermalink }}">{{ .Params.name }}</a>{{ if .Params.is_seattle_pnw_writer }} <span class="northwest">NORTHWEST&nbsp;WRITER</span>{{ end }}</li>                
                            {{ $.Scratch.Set "loopletter" (substr .Params.alphabetize_by 0 1) }}
                        {{ end }}
                    {{ end }}
                {{ end }}
                {{ $.Scratch.Delete "loopletter" }}
            </ul>          
        </div>
        <div class="col-sm-3 col-sm-offset-7 sponsor">
            {{/*  include "templates/sponsorships/sponsorship.partial.html" */}}
        </div>
    </div>
</div>
{{ end }}